/* Cart Component styles  */
.cart-container {
    margin-top: 150px;
    margin-bottom: 150px;
    min-height: 80vh;
}
.no-course {
    background-color: #212529;
    color: lightgray;
    border-radius: 10px;
    padding: 10px 15px;
}