/* Footer styles  */
footer {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.contact-icon {
    font-size: 25px;
    margin-bottom: 0;
}
.copyright {
    font-size: 15px;
    margin-bottom: 0;
    color: lightgray;
}
p i {
    margin-right: 10px;
}